@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600;700&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Mali', sans-serif;
}

.bg-grey {
  background-color: #f3f3f3 !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.links {
  font-size: 18px;
}

.nav-link:hover{
  color: #04303d !important;
  transition: .3s ease-in-out;
}

.text-primary {
  color: #3b9e9ea9 !important;
}

.btn-primary {
  background-color: #3b9e9ea9 !important;
  border-color: #3b9e9ea9 !important;
}

.btn-primary:hover{
  background-color: #31c7c7a9 !important;
  border-color: #3b9e9ea9 !important;
  transition: .3s ease-in-out;
}
.btn-outline-primary {
  color: #3b9e9ea9 !important;
  border-color: #3b9e9ea9 !important;
}

.btn-outline-primary:hover {
  color: #ffff !important;
  border-color: #3b9e9ea9 !important;
  background-color: #3b9e9ea9;
}

.disabledInput {
  background-color: #dddddd !important;
}

.disabledInput::selection {
  background-color: #dddddd;
}
